body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0
}

code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

body.ws_bodyactive {
  overflow: hidden
}

div#evm-cart-drawer * {
  margin: 0
}

div#evmcartdrawer {
  background-color: rgba(var(--color-foreground),.5);
  display: flex!important;
  display: block;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  position: fixed;
  top: 0;
  transition: visibility var(--duration-default) ease;
  visibility: hidden;
  width: 100vw;
  z-index: 1000
}

<<<<<<< HEAD
div#evmcartdrawer{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex!important;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), .5);
  transition: visibility var(--duration-default) ease;
  display: block;
  visibility: hidden;
}
div#evmcartdrawer.active {
  visibility: visible;
=======
div#evmcartdrawer.active {
  visibility: visible
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
}
.evm-cart-inner {
  background-color: rgb(var(--color-background));
  border: .1rem solid rgba(var(--color-foreground),.2);
  border-right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: calc(100vw - 3rem);
  overflow: hidden;
  transform: translate(100%);
  transition: transform var(--duration-default) ease;
  width: 40rem
}

div#evmcartdrawer-Overlay {
  bottom: 0;
  display: block!important;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1
}

div#evmcartdrawer.active .evm-cart-inner {
  transform: translate(0)
}

div#evmcartdrawer .ws-drawer-header {
  border-bottom: 1px solid #0000001a
}

div#evmcartdrawer .ws-dr-htop {
  grid-gap: 8px;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 35px;
  padding: 25px 30px 15px;
  position: relative;
  z-index: 1
}

div#evmcartdrawer button.ws-dr-closebtn {
<<<<<<< HEAD
  height: 30px;
  width: 30px;
  border: 0;
  background-color: #eee;
  display: flex;
=======
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
  align-items: center;
  background-color: #eee;
  border: 0;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0 6px;
<<<<<<< HEAD
}  

div#evmcartdrawer button.ws-dr-closebtn svg {
  width: 100%;
  height: 100%;
=======
  width: 30px
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
}

div#evmcartdrawer button.ws-dr-closebtn svg {
  height: 100%;
  width: 100%
}

ul.ws-dr-items {
  flex: 1 1 auto;
  list-style-type: none;
  margin-right: 2px!important;
  overflow-y: auto;
<<<<<<< HEAD
  flex: 1 1 auto;
  margin-right: 2px !important;
} 
ul.ws-dr-items::-webkit-scrollbar {
  width: 5px;
}

ul.ws-dr-items::-webkit-scrollbar-track {
  background-color: #f1f1f1;
 
=======
  padding: 0
}

ul.ws-dr-items::-webkit-scrollbar {
  width: 5px
}

ul.ws-dr-items::-webkit-scrollbar-track {
  background-color: #f1f1f1
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
}

ul.ws-dr-items::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
<<<<<<< HEAD
  border-radius: 5px;

=======
  border-radius: 5px
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
}

li.ws-dr-item {
  box-shadow: 0 1px #0000001a;
  padding: 10px 30px;
  position: relative
}

.ws-dtl-btn {
  align-items: center;
  background: #0000;
  border: 0;
  display: flex;
  height: 30px;
  padding: 0 6px;
  position: absolute;
  right: 0;
<<<<<<< HEAD
  width: 30px;
  height: 30px;
  display: flex;
  background: transparent;
  border: 0;
  align-items: center;
  padding: 0 6px;
} 
.ws-dtl-btn:hover {
cursor: pointer;
}
=======
  width: 30px
}

.ws-dtl-btn:hover {
  cursor: pointer
}

>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
.ws-item-inner {
  grid-gap: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 100px 1fr
}

.ws-item-content {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2,1fr)
}

input.ws-item-quantity-count {
  -webkit-appearance: textfield;
  appearance: textfield;
  background: #0000;
  border: 0;
  outline: none;
  text-align: center;
  width: 25px
}

.ws-item-quantity-wrapper {
  background: #eee;
  display: flex;
  width: fit-content
}

div#evmcartdrawer .ws-item-title {
  font-size: 14px;
  font-weight: 400;
  grid-column: span 2;
  line-height: 1
}

div#evmcartdrawer .ws-item-unit-price {
  align-self: flex-start;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  grid-column: span 1;
  line-height: 1;
  padding-top: 5px
}

.ws-item-variant-wrapper {
  display: flex;
  overflow: hidden
}

.ws-item-variant-wrapper:empty {
  display: flex
}

div#evmcartdrawer .ws-item-varinat-title:empty {
  display: none
}

div#evmcartdrawer .ws-item-varinat-title {
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  background: #eee;
  border-radius: 4px;
  display: -webkit-box;
  font-size: 12px;
  font-weight: 500;
  grid-column: span 1;
  line-height: 1;
  overflow: hidden;
  padding: 4px 10px 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto
}

div#evmcartdrawer .ws-item-total-price-wrapper {
  display: flex;
  justify-content: end;
  justify-self: end
}

div#evmcartdrawer .ws-item-quantity-wrapper {
  justify-self: end
}

div#evmcartdrawer .ws-item-quantity-wrapper button {
  background: #0000;
  border: 0;
  height: 25px;
  line-height: 0;
<<<<<<< HEAD
  background: transparent;
  border: 0;
  padding:0 6px;
}
div#evmcartdrawer .ws-item-quantity-wrapper button:hover{
  cursor: pointer;
}
div#evmcartdrawer .ws-item-quantity-count::-webkit-inner-spin-button,
div#evmcartdrawer .ws-item-quantity-count::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari */
  margin: 0; /* Remove default margin */
=======
  padding: 0 6px;
  width: 25px
}

div#evmcartdrawer .ws-item-quantity-wrapper button:hover {
  cursor: pointer
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
}

div#evmcartdrawer .ws-item-quantity-count::-webkit-inner-spin-button,div#evmcartdrawer .ws-item-quantity-count::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

div#evmcartdrawer .ws-loader {
  animation: loaderRotate 1s infinite;
  border: 3px solid #ddd;
  border-radius: 50%;
  border-top-color: #333;
  height: 22px;
  justify-self: end;
  width: 22px
}

div#evmcartdrawer .ws-item-total-price {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  min-height: 22px
}

.ws-cart-empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  justify-content: center
}

.ws-continue-button {
  background: #000;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4
}

div#evmcartdrawer .ws-drawer-footer {
  border-top: 1px solid #0000001a
}

<<<<<<< HEAD

div#evmcartdrawer .ws-dr-fcontent {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
} 


div#evmcartdrawer .ws-dr-fcartTotal {
  justify-self: end;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height:1;
  min-height: 22px;
} 

.ws-dr-fheading{
font-size:14px;
font-weight:400;
}  
.ws-dr-fbottons {
=======
div#evmcartdrawer .ws-dr-cartfooter {
  grid-gap: 10px;
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
  display: grid;
  gap: 10px;
  overflow: hidden;
  padding: 25px 30px 15px;
  position: relative;
  width: 100%;
  z-index: 1
}

div#evmcartdrawer .ws-dr-fcontent {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr
}

div#evmcartdrawer .ws-dr-fcartTotal {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  justify-self: end;
  line-height: 1;
  min-height: 22px
}

.ws-dr-fheading {
  font-size: 14px;
  font-weight: 400
}

.ws-dr-fbottons {
  grid-gap: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr
}

.ws-full-btn {
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px
}

.ws-checkoutcart-button {
  background: #000;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4
}

.ws-dr-ficonsImg {
  object-fit: contain
}

.ws-viewcart-button {
  background: #0000;
  border: 1px solid #212121;
  color: #000
}

.ws-viewcart-button:hover {
  background: #eee;
  border: 1px solid #0000;
  cursor: pointer;
  transition: all .2s cubic-bezier(.25,.46,.45,.94)
}

.ws-full-btn:disabled {
  cursor: not-allowed;
  opacity: .4
}

div#evmcartdrawer button.ws-dr-closebtn:hover svg {
  animation: loaderRotate 1.6s;
  cursor: pointer;
  transition: all 1s cubic-bezier(.25,.46,.45,.94)
}

.ws-dr-adi-items {
  border-bottom: 1px solid #0000001a;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 10px
}

.ws-dr-adi-item,.ws-dr-adi-items {
  display: flex;
  justify-content: center
}

.ws-dr-adi-item {
  align-items: center;
<<<<<<< HEAD
  justify-content: center;
  background: #fff;
  border-radius:2px;
  box-shadow: 0 1px 4px 0px #0000002b;
  gap: 5px;
  font-size: 14px;
=======
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 #0000002b;
  font-size: 14px;
  gap: 5px;
  padding: 7px
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
}

.ws-dr-adi-item:hover {
  box-shadow: inset 0 1px 4px 0 #0000002b;
  cursor: pointer;
  transition: box-shadow 1s linear
}

.ws-dr-adi-item svg {
<<<<<<< HEAD
  width:20px;
  height:20px;
=======
  height: 20px;
  width: 20px
>>>>>>> b0c648ea10bc0b12636c139aa43a2735da11f03c
}

.ws-tab-content {
  background-color: #fff;
  border-top: 1px solid #81818133;
  bottom: 0;
  box-shadow: 0 0 10px #81818133;
  left: inherit;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  right: inherit;
  transform: translateY(104%);
  transition: transform .25s ease-in-out;
  width: inherit;
  width: 100%;
  z-index: 10009
}

.ws-tab-content.active {
  transform: none
}

.ws-tab-content:empty {
  display: block
}

.ws-cart-note {
  grid-gap: 15px;
  display: grid;
  gap: 15px
}

.ws-content-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1
}

textarea.ws-cart-message {
  border-radius: 0;
  box-shadow: none;
  color: #000;
  min-height: 100px;
  outline: none;
  padding: 8px 10px;
  resize: none;
  width: 100%!important
}

.ws-save-buttons {
  grid-column-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden
}

.ws-gift-button,.ws-save-button {
  background-color: #f15163;
  color: #fff
}

.ws-cancel-button {
  background: #0000;
  border: 1px solid #212121;
  color: #000
}

.ws-gift {
  grid-gap: 15px;
  display: grid;
  gap: 15px
}

.ws-gift-top {
  grid-gap: 6px;
  align-items: center;
  display: grid;
  gap: 6px;
  justify-content: center
}

.ws-gift-top svg {
  margin: 0 auto!important
}

input#wsdiscountcode:focus-visible {
  box-shadow: none;
  outline: none;
  outline-offset: 0
}

input#wsdiscountcode {
  padding: 8px 10px
}

@keyframes loaderRotate {
  to {
      rotate: 1turn
  }
}
div#gesturePopup:empty {
    display: none;
} 
div#gesturePopup {
  background: #0000003d;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items:center;
  justify-content: center;
}



.motion-popup {
  align-items: center;
  background: #fff;
  border-radius: 12px;
  display: grid;
  margin: auto;
  max-height: calc(100% - 100px);
  max-width: 650px;
  overflow: auto;
  padding: 20px;
  width: calc(100% - 20px);
}

.motion-popup-header {
  grid-gap: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr auto
}

.motion-close-icon {
  align-items: center;
  background-color: #eee;
  border: 0;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 0 6px;
  width: 30px
}

.motion-gesture-tabs .motion-tab-btn {
  border: none;    
  background: transparent;
}

.motion-gesture-tabs {
  display: flex;
  flex-direction: column-reverse;
  max-width: 100px;
  justify-content: space-between;
  height: 100%;
  gap: 5px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}

button.motion-tab-btn.motion-gesture-tab.active {
  border-top-left-radius: 12px;
  padding: 10px;
  /* box-shadow: 0 0 4px #000; */
  border-bottom-left-radius: 0px;
  background: #000;
  order: 1!important;
}

.motion-gesture-tabs .motion-tab-btn img {
  height: 40px;
  width: 40px;
}

.motion-gif-section img {
  width: 100%;
  align-self: end;
}

.motion-pop-label {
  color: #fff;
  display: none;
  /* opacity: 0; */
}

/*# sourceMappingURL=main.af04f5a6.css.map*/
button.motion-tab-btn.motion-gesture-tab.active .motion-pop-label {
  display: block;
  color: #fff;
  white-space: break-spaces;
  margin: 0;
  line-height: 1.5;
}

.parent-content {
  display: grid;
  grid-template-columns: 100px 1fr;
  
}

.motion-popup-content {
  height: 100%;
  background: #000;
  border-radius: 12px;
  display: flex;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  justify-content: center;
  padding: 20px;
}