div#evmcartdrawer.active {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), .5);
  transition: visibility var(--duration-default) ease;
}

.evm-cart-inner {
  height: 100%;
  width: 40rem;
  max-width: calc(100vw - 3rem);
  padding: 0 1.5rem;
  border: .1rem solid rgba(var(--color-foreground), .2);
  border-right: 0;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translate(100%);
  transition: transform var(--duration-default) ease;
}
div#evmcartdrawer-Overlay{
  display: block!important;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  z-index: -1;
} 

div#evmcartdrawer.active .evm-cart-inner {
  transform: translate(0%);
}


